Package: com.daapps.uninstall
Version: 1.1.1
Architecture: iphoneos-arm
Maintainer: Dennis Torbichuk <dennis@biudvikling.dk>
Author: Dennis Torbichuk <dennis@biudvikling.dk>
Section: System
Description: uninstall apps from the command-line
Name: Uninstall
Tag: purpose::console, role::hacker
